<html>
<head>
  <title>Detalles del Post</title>
  <style>
    .custom-image-container {
      flex-basis: 200%;
      margin-left: 20px;
    }
  </style>
</head>
<body>
  <div class="container mt-5">
    <h1>{{post.title}}</h1>
    <div class="d-flex">
      <div>
        <p>{{post.content}}</p>
        <p>Categoría: {{post.category}}</p>
        <p>Escrito por: {{post.user.username}}</p>
        {{#if currentUser.isAdmin}}
          <form action="/posts/{{post._id}}/edit" method="GET">
            <button type="submit" class="btn btn-primary btn-sm">Editar</button>
          </form>
          <form action="/posts/{{post._id}}/delete" method="post">
            <button type="submit" class="btn btn-danger">Eliminar</button>
          </form>
        {{else if owner}}
          <form action="/posts/{{post._id}}/edit" method="GET">
            <button type="submit" class="btn btn-primary btn-sm">Editar</button>
          </form>
          <form action="/posts/{{post._id}}/delete" method="post">
            <button type="submit" class="btn btn-danger">Eliminar</button>
          </form>
        {{/if}}
        <a href="/posts" class="btn btn-secondary mt-2">Volver a la lista de posts</a>

        <form action="/posts/{{post._id}}/comment" method="post" class="mt-4">
          <label for="content">Agregar comentario:</label>
          <textarea
            name="content"
            id="content"
            rows="4"
            cols="50"
            required
            class="form-control"
          ></textarea>
          <button type="submit" class="btn btn-primary mt-2">Enviar</button>
        </form>
       
      </div>
      {{#if post.postImage}}
        <div class="custom-image-container">
          <img
            src="/uploads/{{post.postImage}}"
            alt="{{post.title}}"
            class="custom-small-image w-100"
          />
        </div>
      {{/if}}
    </div>
  </div>
</body>
</html>