<head>
  <title>Posts</title>
</head>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Petforum Posts:</h1>
    <div class="category-buttons">
      <a href="/posts/category/adopcion" class="btn btn-primary">Filtrar por
        Adopción</a>
      <a href="/posts/category/problemas" class="btn btn-primary">Filtrar por
        Problemas en mascotas</a>
      <a href="/posts/category/perdidas" class="btn btn-primary">Filtrar por
        Mascotas perdidas</a>
    </div>

    {{#each posts}}
      <div class="card mb-4 border-primary shadow">
        <div class="card-body">
          <div class="post-header">
            <h2 class="card-title">{{title}}</h2>
          </div>
          <p class="card-text">{{content}}</p>
          <p class="card-text">Category: {{category}}</p>
          <p class="card-text">Posted by: {{user.username}}</p>
          <a href="/posts/{{_id}}" class="btn btn-primary btn-sm btn-blue">Ver
            Detalles</a>
          <h3 class="card-title">Comments</h3>
          {{#if comments.length}}
            <div class="card">
              <div class="card-body">
                {{#each comments}}
                  <p class="card-text">{{content}}</p>
                  <p class="card-text">Commented by: {{user.username}}</p>
                {{/each}}
              </div>
            </div>
          {{else}}
            <p class="card-text">No comments yet.</p>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</body>