<head>
    <title>Posts</title>
</head>
<body>
    <h1>Posts</h1>

    {{#each posts}}
    <div>
        <h2>{{title}}</h2>
        <p>{{content}}</p>
        <p>Category: {{category}}</p>
        <p>Posted by: {{user.name}}</p>
        <h3>Comments</h3>
        {{#if comments.length}}
            {{#each comments}}
                <p>{{content}}</p>
                <p>Commented by: {{user.name}}</p>
            {{/each}}
        {{else}}
            <p>No comments yet.</p>
        {{/if}}
    </div>
    {{/each}}
</body>
